<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Histogram</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
	<listener-class>listeners.HistogramContextListener</listener-class>
   </listener>
  <servlet>
    <servlet-name>GetData</servlet-name>
    <servlet-class>servlets.GetData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WriteData</servlet-name>
    <servlet-class>servlets.WriteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetData</servlet-name>
    <url-pattern>/GetData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteData</servlet-name>
    <url-pattern>/WriteData</url-pattern>
  </servlet-mapping>
</web-app>